

/*defines the background color of the body section*/

body {
  background-color: rgb(197, 200, 201);
}

/*defines the margin, font color, font weight, and line-height of the headers*/
h1, 
h2, 
h3, 
h4 {
  margin-bottom: 0.625rem;
  color: black;
  font-weight: 700;
  line-height: 1.1;
}

/*Defines the width, spacing, font, and background color of the header*/
header {
  width: 100%;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(244, 251, 252);
  font-size: 22px
}

/*defines the margin of the paragraph tag*/
p {
  margin-bottom: 10px;
}

/*defines the width and margin of the main area*/
main {
  width: 100%;
  margin: auto;
}

/*defines the margin and text alignment of the footer*/
footer {
  margin: auto;
  text-align: center;
}

/*defines the display type, text alignment, and margins for the left side of the header*/
.header h1 {
  display: inline-block;
}

#header {
  text-align: left;
  margin: 15px;
  margin-top: 10px;
}

/*defines the margin, font size & type, and padding of the navigation on the right side of the header */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  margin-top: -40px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

/*take the bullet points away for the list*/
.header nav ul {
  list-style-type: none;
}

/*defines the display type, margin, and text color of the nav links list*/
.header nav ul li {
display: inline-block;
margin-left: 40px;
}

/*defines the font color and no decorations for the text for the nav links/list*/
a {
  color: rgb(234, 142, 158);
  text-decoration: none;
} 

/*makes the about me and work section flex into a columb and defines margins and padding*/
.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 20px;
  margin: 0px 30px 0px 30px;
}

/*Defines the size of my photo and the curves edges*/
.article img {
  width: 200px;
  border-radius: 30%;
} 

/*centers the photo of me*/ 
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 15px;
}

/*centers the paragraph under my picture and defines the margins*/
#paragraph {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

/*defines the flex-boxes and wraps the boxes*/
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

/*centers the content*/
.justify-center {
  justify-content: center;
}

/*next two make it so that the first box is twice the size of the rest of the boxes and so the other boxes are the same size*/
.card-column:not(first-child) {
  flex: 1;
}

.card-column:first-child {
  flex: 1 0 100%;
}

/*defines padding in between the boxes*/
.card-column {
  padding: 15px;
  margin-bottom: 0 20px;
}

/*defines the layout, spacing, padding, outlines and special effect of the hover for the boxes*/
.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 20px;
  color: black;
  outline: 2px solid white;
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

/*defines the size of the images inside of the boxes*/
.html img {
  border-radius: 0px;
  width: 100%;
  height: 100%;
}

/*defines the position, margins, font color, border and transition effect of the headers inside of the boxes*/
.code-card .card-header {
  position: relative;
  margin: 2px 1px 2px 1px;
  color: black;
  border: 1px solid white;
  border-radius: 0px;
  transition: all 0.5s ease-in-out; 
}

/*defines the color and of the special effect when you hover over the boxes*/
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px white, 0 0 15px white;
}


/*changes size of the flex boxes and sections at 768px-991px*/
@media screen and (min-width: 768px) {
  .card-column {
    flex: 0 0 50%;
    max-width: 30%;
  }
  }

  /*changes the size of the flex boxes and sections at 992px and larger*/
  @media screen and (min-width: 992px) {
  .card-column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    } 
  } 

/*defines the width, padding, font family and font size of the footer*/
.footer {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(244, 251, 252);
  font-size: 25px
}

/*defines the padding, font family, and font size of the bottom links on the footer*/
.footer nav {
  padding-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/*takes the bullets away on the list in the footer*/
.footer nav ul {
  list-style-type: none;
}

/*defines the display, text placement, and padding of the links in the footer*/
.footer nav ul li {
display: inline-block;
text-decoration: none;
text-align: center;
padding: 10px;
}

/*defines the width, display type, margins, padding and font family of the about me section*/
.about {
  display: inline-block;
  text-align: center;
  padding: 30px;
  clear: both;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*defines the width, display type, center text, borders, padding, and margin of the work section*/
.work {
  width: 100%;
  text-align: center;
  display: inline-block;
  border: solid;
  margin-left: 100px;
  padding: 5px;

}

